.max-width {
    max-width: 1300px;
    /* chiều ngang <= 1300px */
    padding: 50px;
    margin: 0px auto;
  }
  
  /* Style thanh orange-bar */
  .max-width .orange-bar {
    width: 100px;
    height: 2px;
    background-color: orange;
    margin-top: 30px;
  }
  
  .max-width .title {
    font-size: 40px;
    text-align: center;
  }
  
  /* Hết phần style chung */
   
  /* Home content */
  .home-content .max-width {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-content .max-width .about {
    margin-top: 30px;
  }
  
  .max-width .about p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
  }
  
  /* Box content */
  .home-content .max-width .content-boxes {
    margin: 0 auto;
    margin-top: 30px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .content-boxes .content-box {
    width: 250px;
    height: fit-content;
  }
  
  .content-boxes .content-box i {
    color: orange;
    font-size: 50px;
    line-height: 70px;
  }
  
  .content-boxes .content-box .title {
    text-align: left;
    font-size: 20px;
    line-height: 40px;
  }
  
  .content-boxes .content-box p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    text-align: justify;
  } 